extends ../layout

block content
  if errors
    .alert.alert-danger
      p Validation errors:
      ul
        each error in errors
          li= error
  form(method='POST')
    .form-group
      label(for='username') Username
      input.form-control(type='text', name='username', id='username', value=user.username)
    .form-group
      label(for='password') Password
      input.form-control(type='password', name='password', id='password')
    .form-group
      label(for='password_confirm') Confirm Password
      input.form-control(type='password', name='password_confirm', id='password_confirm')
    .form-group
      label(for='email') Email (optional)
      input.form-control(type='text', name='email', id='email', value=user.email)
    input.btn.btn-default(type='submit')